%title universpace

#top
#contents

/ #h2 広大な宇宙を探検する
= form_tag '/spacemap',method:'get' do |f|
  #div.navbar.navbar-fixed-top
    .navbar-inner
      .container
        .navbar-search
          .icon-search
            %p
              = image_tag "universpace_white.png",{alt:"header", style:"width:300px;height:180;text-align:center;z-index:-1;"}
            = text_field_tag "video",'',{id:"video",class:"search-query span3",placeholder:"Search"}
  