#container(style="position:absolute;float:right;")
  #pMENU(style="visibility:hidden;background-color:yellow;width:100px;")test

:javascript
  var twitters = #{raw Array(@twitters).to_json};
  var nevers = #{raw Array(@nevers).to_json};