<%= form_for(@mock) do |f| %>
  <% if @mock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mock.errors.count, "error") %> prohibited this mock from being saved:</h2>

      <ul>
      <% @mock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
